.vscode/*
megaphone
contactList
account
zombie
zombieHorde
brain
violence
occurence
harl
fixedPoints00
fixedPoints01
fixedPoints02
clapTrap
scavTrap
flagTrap
animals
brainIdeas
abstractClass
materiaRecap
bureaucrat
bureaucrat-form
bureaucrat-aform
bureaucrat-intern
*.pdf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
