
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## Cpp00
megaphone
contactList
account

## Cpp01
zombie
zombieHorde
brain
violence
occurence
harl

## Cpp02
fixedPoints00
fixedPoints01
fixedPoints02

## Cpp03
clapTrap
scavTrap
flagTrap

## Cpp04
animals
brainIdeas
abstractClass
materiaRecap

## Cpp05
bureaucrat
bureaucratForm
bureaucratAform
bureaucratIntern

## Cpp06
scalarConverter
serializer
identify

## Cpp07
whatever
iter
array

## Cpp08
easyFind
span
mutantStack

## Cpp09
btc
RPN
PmergeMe

# Others
.vscode/*
*.pdf